html, body { margin: 0; padding: 0; }

body {
background: #30011E;
color: #fff;

font-family: "Diplomata", serif;
font-weight: 400;
font-style: normal; 
}

h2 {
    color: #b6cca1;
}

h1 {
    color: #d7fcd4;
}

header { position: fixed; top: 0; left: 0; right: 0; 
background: transparent;
font-size: 1.2rem;
}
.topbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: .5rem;
}
.topbar .left { justify-self: start;}
.topbar .center { justify-self: center; font-weight: bold}
.topbar .right { justify-self: end;}
.topbar a {color: #d7fcd4; text-decoration: none;}

.secondbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0.75rem 1rem;
}
.secondbar .center {justify-self: center;}
.secondbar a {color:#d7fcd4; text-decoration: none;}

main { margin-top: 5rem; max-width: 60vw; padding: 1rem; line-height: 1.6; font-size: 1rem; font-family: sans-serif;}


footer { color:#bbb; text-align:center; padding: 2rem 1rem ;font-size: 1.1rem; font-family: sans-serif;}
